@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div {
  width: 100%; /* Asegura que los divs ocupen todo el ancho disponible */
}

.post {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #efefef;
}

.post-header i {
  font-size: 24px;
  color: #000;
}

.post-header div {
  margin-left: 15px;
}

.post-img img {
  width: 100%;
  height: auto;
  display: block;
}

.post-body {
  padding: 15px;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post-icons .div {
  display: flex;
}

.post-icons i {
  margin: 0 10px;
  cursor: pointer;
}

.post-icons i:hover {
  opacity: 0.7;
}

/* Estilos para los párrafos y el texto dentro del .post-body */
.post-body p {
  margin: 5px 0;
  line-height: 1.5;
}

.post-body strong {
  color: #333;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-end-full-width {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icon-ellipsis {
  font-size: 16px; /* Ejemplo de estilo para el ícono */
}
