/* Importación de la fuente Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos generales del cuerpo */
body {
  font-family: "Roboto Condensed", Arial, sans-serif; /* Aplicación de la fuente Roboto Condensed */
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Estilos para el contenedor del post */
.post {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Estilos para el encabezado del post */
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.icon-left {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}
.icon-html5 {
  font-size: 36px;
  color: #000;
}
.text-container {
  flex: 0; /* Ocupa el espacio restante */
}

.text-container strong {
  font-size: 18px;
  color: #000;
}
.text-container span {
  font-size: 14px;
  color: #000;
}
.icon-right {
  margin-left: auto; /* Mueve icon-right a la derecha */
}

.icon-right i {
  font-size: 24px;
  color: #000;
}
.post-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para el cuerpo del post */
.post-body {
  padding: 15px;
}

/* Estilos para los íconos de interacción */
.icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.icons-left i,
.icons-right i {
  font-size: 24px;
  color: #000;
  cursor: pointer; /* Cambia el cursor a un puntero al pasar por encima */
}
.icons-left i {
  margin-left: 0;
}
/* Estilos para los íconos de interacción en gris */
.far {
  color: #999; /* Color gris para los íconos inactivos */
}
